* {
  margin: 0;
  padding: 0;
  font-family: "kanit", sans-serif;
  box-sizing: border-box;
  outline: none;
}

/* navbar */
nav {
  height: 10vh;
  background-color: #1a2238;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.313rem 1.25rem;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: #eba63f;
  color: whitesmoke;
}
ul li.active a {
  background-color: #eba63f;
  color: #f7f4e9;
}
.logo {
  color: #e40c2b;
  margin-left: 1.5rem;
}
.nav-items {
  margin-right: 1.5rem;
}

body {
  background: #1a2238;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* max-width: 350px; */
  width: 40%;
  background: #1a2238;
  /* padding: 25px; */
  border-radius: 5px;
  /* box-shadow: 4px 4px 2px rgb(17, 128, 255);  */
}

.wrapper h1{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ff6a3d;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 2px solid #09b8ee;
  border-radius:0.5rem;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 30vh;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #00a2ff;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.side{
  width: 100%;
  display: flex;
}
.side #fname {
  margin-right:5% ;
}

.btn{
  display: flex;
  justify-content: center;
}

.wrapper p {
  font-size: 1.2rem;
  color: #ff6a3d;
  text-align: center;
}

.input_field input {
  background-color: #c7cded;
  font-size: 1.1rem;
}
.input_field textarea {
  font-size: 1.1rem;
  background-color: #c7cded;
}