* {
  margin: 0;
  padding: 0;
  font-family: "kanit", sans-serif;
  box-sizing: border-box;
  outline: none;
}

/* navbar */
nav {
  height: 10vh;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 0.313rem 1.25rem;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: white;
  color: black;
}
ul li.active a {
  background-color: white;
  color: black;
}
.logo {
  color: white;
  margin-left: 1.5rem;
}
.nav-items {
  margin-right: 1.5rem;
}

body {
  background: #00a2ff;
  
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* max-width: 350px; */
  width: 40%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  /* box-shadow: 4px 4px 2px rgb(17, 128, 255);  */
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #66dbff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #00a2ff;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.side{
  width: 100%;
  display: flex;
}
.side #fname {
  margin-right:5% ;
}