* {
  margin: 0;
  padding: 0;
  font-family: "kanit", sans-serif;
  box-sizing: border-box;
}

/* navbar */
nav {
  height: 10vh;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 0.313rem 1.25rem;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: white;
  color: black;
}
ul li.active a {
  background-color: white;
  color: black;
}
.logo {
  color: white;
  margin-left: 1.5rem;
}
.nav-items {
  margin-right: 1.5rem;
}

body {
  background: rgb(202, 200, 200);
  background-image: url(../assets/background.jpg);
}
.container {
  background: rgba(255, 255, 255, 0.521);
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 2%;
}
.container .form-box {
  border-radius: 0.1rem;
}

.container .input-field {
  background-color: rgba(245, 245, 245, 0);
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 120rem;
  transition: max-height 0.5s;
  overflow: hidden;
}
