* {
  margin: 0;
  padding: 0;
  font-family: "kanit", sans-serif;
  box-sizing: border-box;
}

/* navbar */
nav {
  height: 10vh;
  background-color: #1a2238;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.313rem 1.25rem;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: #eba63f;
  color: whitesmoke;
}
ul li.active a {
  background-color: #eba63f;
  color: #f7f4e9;
}
.logo {
  color: #e40c2b;
  margin-left: 1.5rem;
}
.nav-items {
  margin-right: 1.5rem;
}

body {
  background: #1a2238;
  height: 100vh;
  width: 100vw;
}
/* 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
}








*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff6a3d;
  text-align: center;
}

.input-group .input-field {
  padding: 0.5rem;
  width: 100%;
}

.input-field input {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #c7cded;
}

.input-group {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-group textarea {
  height: 19vh;
  width: 100%;
  margin-bottom: 2rem;
  resize: none;
  overflow: scroll;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #c7cded;
}

#email {
  width: 100%;
}
.btn-field button {
  padding: 0.5rem 1rem;
  background-color: #00a2ff;
  border: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.1rem;
}

.btn-field button:hover {
  border: 1px solid black;
}
.btn-field{
  display: flex;
  justify-content: space-around;
}